body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
}

div.carouselSite{
    width: 100%;
    min-height: 500px;
    max-height: 500px;
}

#topo{
    border: 2px solid;
    border-top:0px;
    border-right: 0px;
    border-left: 0px;
}

#footer{
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px
}

div.card{
    margin: 0 auto;
    float:none;
}

.centered {
    margin: 0 auto !important;
    float: none !important;
}


#main{
    margin-top: 100px;
}

a.icone{
    padding: 10px;
}

a.icone:hover{
    filter: brightness(100%);
}

.texto{
    margin-top: 20px;
    color: rgb(45, 168, 250);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}

.cartinha{
    max-width: 200px;
    min-width: 200px;
    max-height: 220px;
    min-height: 220px;
    background: white;
    transition-delay: 0.1s;
}

.cartinha:hover{
    background-color: rgb(133, 196, 255);
    transition-delay: 0.1s;
}

.tumblr{
    display: inline-block;
    overflow: hidden;
    transition: transform .2s;
}

/*EFEITO DE IMAGEM NO POST*/

div.card{
    display: inline-block;
    overflow: hidden;
}

div.card img{
    max-width: 500px;
    max-height: 200px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    
    vertical-align: middle;
}



div.card img:hover{
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
    transform:scale(1.2);
}

.img{
    margin: 20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    
    vertical-align: middle;
}

.img:hover{

    filter: invert(1);
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
    transform:scale(1.2);
}

/****DO SITEZINHO QUE PEGUEI****/
header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  